.detailsOverview{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.movieOverview{

    text-align: center;
    border: 1px solid black;
    width: 600px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 25px;
}

.moviePicture{
    margin-bottom: 10px;
}
