.detailsOverview{
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    display: flex;

}
.movieOverview{
    display: flex;
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    width: auto;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 15px;
    margin-bottom: 15px;
    background-color: lightgray;
    margin-top: 15px;
}
.moviePicture{
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 1) 1px 5px 15px;

}
.movieDetailsContainer{
    text-align: left;
    padding: 15px 15px 15px 2rem;
}