.header1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title1{
    padding-right: 20%;
    font-size: 3rem;
    font-weight: bold;
    font-family: sans-serif;
}

.title2{
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
