.logo img {
    width: 10rem;
    height: 10rem;
}

.logo {
    background-color: #545454;
    width: 100%;
    font-family: sans-serif;
    display: flex;

}

.NavLink {
    list-style: none;
    color: white;

}

