.logoname{
    font-family: Amsterdam;
    color: white;
    font-size: 55px;
    font-weight: 500;
    flex-direction: column;
    align-self: center;

}

.logo img {
    width: 13rem;
    height: 13rem;
}

.logo {
    background-color: #545454;
    width: 100%;
    font-family: sans-serif;
    display: flex;
}

.NavLink {
    list-style: none;
    color: white;
    margin-left: 25px;
    font-family: "Andale Mono";
    font-weight: bold;
    text-decoration: none;
}



