.logoname{
    font-family: Amsterdam,sans-serif;
    align-self: center;
    color: white;
    font-size: 55px;
    font-weight: 500;
}

.navigation{
    display: flex;
    align-items: baseline;
    margin-right: 50px;
}

.logo img {
    width: 13rem;
    height: 13rem;
}

.logo {
    display: flex;
    font-family: sans-serif;
}

.NavLink {
    list-style: none;
    color: white;
    margin-left: 30px;
    margin-top: 7px;
    font-family: "Andale Mono", sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.navbar{
    flex-direction: row;
    background-color: #545454;
    border-bottom-right-radius: 90px;
}

@media only screen and (max-width: 700px){
    .searchbar{
        display: none;
    }
}



