.topRatedMovieCard:hover img{
    opacity: 0.3;
    cursor: pointer;
}

.topRatedMovieCard img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.topRatedMovieOverlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.topRatedMovieCard:hover .topRatedMovieOverlay{
    opacity: 1;
    cursor: pointer;
}